body{
  background-color: #DADADA;
}
#create-film.column {
  margin-top: 40px;
  max-width: 550px;
  margin-bottom: 40px;
}
h4{
  text-align: left;
}
#icon{
  width: 35px;
}

#show-film{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}
